

.cardList {
  display: flex;
  flex-direction: column;
  max-height: 800px;
  overflow: scroll;
  gap: 20px;
}

.loading {
  text-align: center;
  margin: 20px;
}

#scrollAnchor {
  height: 20px;
}
