

  /* CardList.module.css */

.cardList {
  display: flex;
  flex-direction: column;
  max-height: 900px;
  overflow: scroll;
  gap: 20px;
}

.loading {
  text-align: center;
  margin: 20px;
}

#scrollAnchor {
  height: 100px;
}
