.mainContainer {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.cardList {
  flex: 0 0 30%;
  max-width: 30%;
}

.cardDetails {
  flex: 0 0 70%;
  max-width: 70%;
  border-radius: 8px;
  background-color: #eee;
}

@media (max-width: 768px) {
  .mainContainer {
    flex-direction: column;
  }

  .cardList,
  .cardDetails {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .mainContainer {
    padding: 5px;
  }
}
