.cardList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  padding: 10px;
  min-height: 150px;
  min-width: 380px;
  gap: 20px;
  margin: 10px;
  animation: pulse 1.5s infinite ease-in-out;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.detail, 
.detailHeading {
  background: #ccc;
  border-radius: 10px;
}

.detail {
  height: 10px;
  width: 50%;
}

.detailHeading {
  height: 30px;
  min-width: 200px;
}

.imageCircle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@keyframes pulse {
  0% {
    background-color: #ccc;
  }
  50% {
    background-color: #e0e0e0;
  }
  100% {
    background-color: #ccc;
  }
}
